div{
    background: rgb(146, 206, 226);
    border-radius:20px 20px 0px 0px;
}
.row{
    padding: 20px;

}


.img{
    box-shadow: 10px 10px 30px black;
    box-shadow: ejeX ejeY color;
    text-align: center ;
    width: 400px;
    border-right: 10px;
}
