<div class="row" class="container" >
    <h1>Aptitudes</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4" class="circle" >
    <circle-progress
    [title]="'HTML'"
    [titleColor]="'blackBG'"
    [percent]="10"
    [showUnits]="false"
    [radius]="70"
    [outerStrokeWidth]="12"
    [innerStrokeWidth]="5"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="400"
></circle-progress> 
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4" class="circle">
    <circle-progress
    [title]="'CSS'"
    [titleColor]="'blackBG'"
    [percent]="60"
    [showUnits]="false"
    [radius]="70"
    [outerStrokeWidth]="12"
    [innerStrokeWidth]="5"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="400"
></circle-progress> 
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4" class="circle">
    <circle-progress
    [title]="'JS'"
    [titleColor]="'blackBG'"
    [percent]="20"
    [showUnits]="false"
    [radius]="70"
    [outerStrokeWidth]="12"
    [innerStrokeWidth]="5"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="400"
></circle-progress> 
</div>
<div class="circle">
    <circle-progress
    [title]="'GitHub'"
    [titleColor]="'blackBG'"
    [percent]="60"
    [showUnits]="false"
    [radius]="70"
    [outerStrokeWidth]="12"
    [innerStrokeWidth]="5"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="400"
></circle-progress> 
</div>
<div class="circle">
    <circle-progress
    [title]="'HTML'"
    [titleFontSize]="'20'"
    [titleColor]="'blackBG'"
    [percent]="60"
    [showUnits]="false"
    [radius]="70"
    [outerStrokeWidth]="12"
    [innerStrokeWidth]="5"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="400"
></circle-progress> 
</div>
<div class="circle">
    <circle-progress
    [title]="'HTML'"
    [titleColor]="'blackBG'"
    [percent]="20"
    [showUnits]="false"
    [radius]="70"
    [outerStrokeWidth]="12"
    [innerStrokeWidth]="5"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="400"
></circle-progress> 
</div>
</div>
