<div class="row" class="container" >
    <h1>Aptitudes</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4" class="circle" >
    <circle-progress
    [title]="'HTML'"
    [titleColor]="'blackBG'"
    [percent]="30"
    [showUnits]="false"
    [radius]="70"
    [outerStrokeWidth]="14"
    [innerStrokeWidth]="5"
    [outerStrokeColor]="'#447a29'"
    [innerStrokeColor]="'lightgrey'"
    [animation]="true"
    [animationDuration]="400"
></circle-progress> 
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4" class="circle">
    <circle-progress
    [title]="'CSS'"
    [titleColor]="'blackBG'"
    [percent]="20"
    [showUnits]="false"
    [radius]="70"
    [outerStrokeWidth]="14"
    [innerStrokeWidth]="5"
    [outerStrokeColor]="'#447a29'"
    [innerStrokeColor]="'lightgrey'"
    [animation]="true"
    [animationDuration]="400"
></circle-progress> 
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4" class="circle">
    <circle-progress
    [title]="'JS'"
    [titleColor]="'blackBG'"
    [percent]="20"
    [showUnits]="false"
    [radius]="70"
    [outerStrokeWidth]="14"
    [innerStrokeWidth]="5"
    [outerStrokeColor]="'#447a29'"
    [innerStrokeColor]="'lightgrey'"
    [animation]="true"
    [animationDuration]="400"
></circle-progress> 
</div>
<div class="circle">
    <circle-progress
    [title]="'GitHub'"
    [titleColor]="'blackBG'"
    [percent]="40"
    [showUnits]="false"
    [radius]="70"
    [outerStrokeWidth]="14"
    [innerStrokeWidth]="5"
    [outerStrokeColor]="'#447a29'"
    [innerStrokeColor]="'lightgrey'"
    [animation]="true"
    [animationDuration]="400"
></circle-progress> 
</div>
<div class="circle">
    <circle-progress
    [title]="'Autogestión'"
    [titleFontSize]="'18'"
    [titleColor]="'blackBG'"
    [percent]="60"
    [showUnits]="false"
    [radius]="70"
    [outerStrokeWidth]="14"
    [innerStrokeWidth]="5"
    [outerStrokeColor]="'#447a29'"
    [innerStrokeColor]="'lightgrey'"
    [animation]="true"
    [animationDuration]="400"
></circle-progress> 
</div>
<div class="circle">
    <circle-progress
    [title]="'Cooperación'"
    [titleFontSize]="'18'"
    [titleColor]="'blackBG'"
    [percent]="80"
    [showUnits]="false"
    [radius]="70"
    [outerStrokeWidth]="14"
    [innerStrokeWidth]="5"
    [outerStrokeColor]="'#447a29'"
    [innerStrokeColor]="'lightgrey'"
    [animation]="true"
    [animationDuration]="400"
></circle-progress> 
</div>
<div class="circle">
    <circle-progress
    [title]="'Inglés'"
    [titleFontSize]="'18'"
    [titleColor]="'blackBG'"
    [percent]="75"
    [showUnits]="false"
    [radius]="70"
    [outerStrokeWidth]="14"
    [innerStrokeWidth]="5"
    [outerStrokeColor]="'#447a29'"
    [innerStrokeColor]="'lightgrey'"
    [animation]="true"
    [animationDuration]="400"
></circle-progress> 
</div>
<div class="circle">
    <circle-progress
    [title]="'Portugués'"
    [titleFontSize]="'18'"
    [titleColor]="'blackBG'"
    [percent]="85"
    [showUnits]="false"
    [radius]="70"
    [outerStrokeWidth]="14"
    [innerStrokeWidth]="5"
    [outerStrokeColor]="'#447a29'"
    [innerStrokeColor]="'lightgrey'"
    [animation]="true"
    [animationDuration]="400"
></circle-progress> 
