<div class="row" class="container">
    <h1>Educación</h1>
    <div class="col-lg-11">
    <ul>
    <li>
        <h2>Estudio 1</h2> - <h3> (years)</h3>
    </li>
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Soluta debitis nam repudiandae, 
        laboriosam sapiente provident ad! 
        A veniam magnam nobis eligendi rerum explicabo possimus, 
        corporis reprehenderit ipsam fugit libero et. </p>
    </ul>
    <ul>
        <li>
            <h2>Estudio 2</h2> - <h3> (years)</h3>
        </li>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit.
             Soluta debitis nam repudiandae, laboriosam sapiente provident ad! 
             A veniam magnam nobis eligendi rerum explicabo possimus, 
             corporis reprehenderit ipsam fugit libero et. </p>
        </ul>
      
    </div>
    </div>
