<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo-20-20.png" id="logoAP">
        </div>
        <div class="redes">
            <a href="https://www.facebook.com/perla.gonzalez.7334" target="_blank"><img src="../../../assets/FaceB.png" id="facebook"></a>&nbsp;
            <a href="https://www.instagram.com/perlasofia18/?utm_source=qr" target="_blank"><img src="../../../assets/InstaB.png" id="instagram"></a>&nbsp;
            <a href="https://github.com/Perlasof/"><img src="../../../assets/GitHub.png" target="_blank" id="github"></a>&nbsp;&nbsp;
            <button type="button" class="button button1">INGRESO</button>
        </div>
    </div>
</div>
