<div class="row"  >
    <div>
        <div class="logo" >
            <img src="../../../assets/APLogo-20-20.png" id="logoAP">
        </div>
        <div class="redes" style="float:right">
            <div class="centrado">
            <a href="https://www.facebook.com/perla.gonzalez.7334" target="_blank"><img src="../../../assets/FaceB.png"  id="facebook"></a>&nbsp;
            <a href="https://www.instagram.com/perlasofia18/?utm_source=qr" target="_blank"><img src="../../../assets/InstaB.png" id="instagram"></a>&nbsp;
            <a href="https://github.com/Perlasof/" target="_blank"><img src="../../../assets/GitHub.png" target="_blank" id="github"></a>&nbsp;&nbsp;
            <button type="button" class="button button1" (click)="login()" *ngIf="!isLogged">INGRESO</button> &nbsp;&nbsp;&nbsp;
            <button type="button" class="button button1" (click)="onLogOut()" *ngIf="isLogged">CERRAR SESION</button> &nbsp;&nbsp;&nbsp;
        </div>
    </div>
</div>
