.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(98, 187, 223);
    
}

#logoAP{
    width: 150px;
    float: left;
   
}
.centrado{
  margin:10px auto;
  display:block;
  margin-top: 20px;
}
img{
    width: 25px;
    
}

.button {
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .button1:hover {
    background-color: white; 
    color: rgb(98, 187, 223); 
   
  }
  
  .button1 {
    background-color: lightblue;;
    color: white;
  }
  
  /*--- Para celular vista---*/
  @media(max-width:575px){ 
  .container{
    flex-direction: column;
  }
  .redes{
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  .redes img{
   text-align: center;
  }
 }