<div class="row" class="container">
    
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src= "../../../assets/PG Foto.jpg" class="img-fluid" id="fotoperfil">
    </div> 
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <p  id="nombre">Perla Sofía González</p>
        <p  style="color: white;">Lic. en Comercio Internacional</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <span style="color: white;"> 
            <h1>Acerca de mi</h1>
            <p>Lic. en Comercio internacional, 
                graduada de la Universidad Nacional de Luján, con un perfil multitasking. </p>
        </span>
    </div>
</div>
